# SPDX-License-Identifier: Apache-2.0

if BOARD_RPI_ZERO_W

if WIFI_AIROC

config MAIN_STACK_SIZE
	default 4096

config HEAP_MEM_POOL_ADD_SIZE_BOARD
	int
	default 65536

endif # WIFI_AIROC

endif # BOARD_RPI_ZERO_W
